<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>


    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 60%;
        }

        p {
            font-size: 200%;
        }

        li {
            font-size: 200%;
        }
    </style>

</head>

<body>
<main>
    <h3>
        {% if user.is_authenticated %}
        Hi {{ user.username }}
        {% else %}
        You are logged off,
            <a href="{% url 'login' %}"> click here to log in! </a>
        {% endif %}

    </h3>
    {% block content %}
    {% endblock %}
</main>
</body>

</html>
